<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--
         На сервере томкат/webapp/ваш_проект, в корне вашего проекта распологается папка WEB-INF
         томкат, которая хванит в себе данный (web.xml)
         В нем распологается папка classes, где хранятся скомпелированные java-классы

         /webapp/ваш_проект/WEB_INF/classes/com/tomcat/TomcatSimpleServlet.class
    -->


    <!--
        <servlet-name></servlet-name>
        xml-тег, в котором инициализируется имя уникальное имя сервлета
    -->

    <!--
        <servlet-class></servlet-class>
        Определяет реальное местонахождение вашего сервлета в папке WEB-INF
    -->

    <!--
        <url-pattern>
        Определяет адрес (часть URI), куда необходимо обращаться,чтобы перейти на страницу и получить определенные данные
        127.0.0.1:8080/simpleapp/hello
    -->

    <!--
        <load-on-startup>1</load-on-startup>
        Определяет, что данный сервлет будет загружаться первым
    -->

    <servlet>
        <servlet-name>Default</servlet-name>
        <servlet-class>com.tomcat.servlet.impl.DefaultServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Default</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Tomcat Simple Servlet Registration</servlet-name>
        <servlet-class>com.tomcat.TomcatSimpleRegistrationServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Tomcat Simple Servlet Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
</web-app>